@charset 'utf-8';

/* CSS Document */
body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.A1 {
  height: 32px;

  border-bottom: 1px solid #f0f0f0;
}

.a1 {
  position: absolute;
  right: 70px;

  float: left;

  margin-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;

  text-align: right;
}

.a2 {
  position: absolute;
  top: 0;
  right: 0;

  display: inline;
}

#bt:link {
  color: #555;
}

#bt:visited {
  color: #555;
}

#bt:hover {
  color: #555;
}

#bt:active {
  color: #555;
}

#bt2:link {
  color: #999;
}

#bt2:visited {
  color: #999;
}

#bt2:hover {
  color: #999;
}

#bt2:active {
  color: #999;
}

.a3 {
  margin-top: 161px;

  text-align: center;
}

.none {
  display: none;
}

.play {
  position: absolute;
  top: 33px;
  right: 0;

  width: 67.5px;
  height: 1700px;

  border-left: 1px solid #e7e7e7;
  background: #f9f9f9;
  ;
}

.none_img {
  width: 36px;
  height: 36px;
}

.play_chanpin {
  font-size: 12px;
  line-height: 30px;

  height: 30px;

  text-align: center;

  border-bottom: 1px solid #e7e7e7;
}

.play_li {
  width: 67.5px;
}

.play_div > a {
  text-decoration: none;

  color: darkgray;
}

.play_div {
  font-size: 14px;
  line-height: 30px;

  display: block;
  overflow: hidden;

  width: 67.5px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 5px;

  text-align: center;

  border-bottom: 1px solid #f0f0f0;
}

.a4 {
  position: absolute;
  right: 0;
  left: 0;

  width: 641px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.a5 {
  display: inline;
  float: left;
}

.a6 {
  float: left;
}

.a7 {
  width: 100%;
  height: 60px;

  text-align: center;
}

.a8 {
  font-family: arial;
  font-size: 12px;
  line-height: 3px;

  width: 100%;
  margin-top: 50px;

  text-align: center;

  color: #999;
}

.a9 {
  padding-top: 485px;
}

.b1 {
  width: 67.5px;
  height: 32px;
  padding-right: 7px;
  padding-left: 7px;

  color: white;
  border: none;
  background: #398bfb;
}

.b2 {
  width: 540px;
  height: 34px;

  border-top: 1px solid #d8d8d8;
  border-right: 0;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}

.b3 {
  font-size: 16px;

  width: 100px;
  height: 38px;
  padding-right: 7px;
  padding-left: 7px;

  color: white;
  border: none;
  background-color: #398bfb;
}

.nav {
  font-family: '微软雅黑';
  font-size: 14px;

  margin-left: 19px;
}

.nav1 {
  font-family: '微软雅黑';
  font-size: 14px;
  font-weight: bold;

  margin-left: 19px;
}
